<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

**Objectives:**
    
- List popular languages for Data Science
- List Open Source Tools for Data Scientists
- List popular libraries
- Execution of arithmetic expressions

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. C

Some of the commonly used libraries used by Data Scientists include:
- NumPy
- Pandas
- Matplotlib

| Data Science Tools |
----------------------
| Jupyter Notebook   |
| RStudio            |
| MySQL              |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#  This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Filipe Lima